.jumbotron {
    height: 300px;
    background-repeat: no-repeat;
}

#seriesInfo {
    font-size: 28px;   
}

#tvShowLink {
    display: block;
    height: inherit;
    text-decoration: none;
    color: #ff757f;
}

#mySeriesTVShow {
    display: block;
    height: inherit;
    text-decoration: none;
    color: aquamarine;
}
#findSeriesShows {
    display: block;
    height: inherit;
    text-decoration: none;
    color: white;
}

#popularSeriesItem, #seasonItems {
    width: 100%;
    height: 200px;
    background-repeat: no-repeat;
    color: #cecece;
    font-size: 20px;
    padding: 0;
    float: left;
}

@media only screen and (max-width:480px) {
    .jumbotron {
        height: 150px;   
    }
    
    #seriesInfo {
        font-size: 12px;   
    }
    
    #popularSeriesItem {
        height: 100px;
    }
    #seasonItems {
        height: 150px;
    }
}

@media only screen and (max-width:767px) {
    .jumbotron {
        height: 200px;   
    }
    #seriesInfo {
        font-size: 14px;   
    }
}

@media only screen and (max-width:768px) {
    #popularSeriesItem {
        background-size:100% auto;
    }
    #seasonItems {
        background-size:100% auto;
    }
}

@media only screen and (max-width:1024px) {
    .jumbotron {
        height: 200px;
        background-size: cover;
    }
}

